# Ignore Python cache directories
__pycache__/

# Ignore other common files and directories
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp

# Ignore specific editor or IDE files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific build files or directories
dist/
build/
